/* Forms */
.form-group {
    margin-bottom: 15px;

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input,
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid $border-color;
        border-radius: 5px;
    }

    textarea {
        resize: vertical;
    }

    button[type="submit"] {
        @include button-style($secondary-color, $light-text-color, 10px 15px, 5px);
    }
}