/* Header */
header {
    background-color: $header-bg-color;
    border-bottom: 1px solid $border-color;
}

.header-container {
    @include flex-center(row, space-between, center);
    padding: 10px 20px;

    a {
        @include flex-center(row, flex-start, center);
        color: $text-color;

        img {
            margin-right: 10px;
        }
    }

    .header-container {
        @include responsive($mobile-breakpoint) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}