// Colores
$primary-color: #007bff;
$primary-color-dark: #0056b3;
$secondary-color: #28a745;
$bg-color: #f4f4f4;
$text-color: #333;
$light-text-color: #fff;
$border-color: #ddd;

// Fuentes
$main-font: Arial, sans-serif;

// Espaciado
$main-padding: 20px;
$main-margin: 20px;

// Otros
$border-radius: 8px;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$header-bg-color: #fff;
$mobile-breakpoint: 768px;